.expandable_list {
  margin: 1em 0;
}

.list_label {
  border: 1px solid gray;
  padding: 0.5em;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 1em;
}

.list {
  &:first_child {
    margin-top: 0;
  }

  &:last_child {
    margin-bottom: 0;
  }
}
