:global(html, body) {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: sans-serif;
}

.ananas {
  display: flex;
  flex-direction: row;
}

.demo_component {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
